body {
  text-align: center;
}

.App-header {
  background-color: #2C374C;
  height: 160px;
  padding: 20px;
  color: white;
}

.App-intro {
  font-size: large;
}

.App-ticker {
  font-size: medium;
}

.App-h2 {
  font-family: 'Oswald', sans-serif;
  text-transform: uppercase;
}
