.Logo {
  position: relative;
  display: inline-block;
}

.Logo-react {
  animation: Logo-spin infinite 6s linear;
  height: 100%;
}

.Logo-kotlin {
  opacity: 0;
  animation: Logo-spin infinite 6s 2s linear;
  height: 72%;
  position: absolute;
  top: 14%;
  right: 24%;
}

.Logo-xebia {
  opacity: 0;
  animation: Logo-spin infinite 6s 4s linear;
  height: 70%;
  position: absolute;
  top: 14%;
  right: -20%;
}

@keyframes Logo-spin {
  from {
    transform: rotateY(-90deg);
    opacity: 1
  }
  33% {
    transform: rotateY(90deg);
    opacity: 1
  }
  34% {
    transform: rotateY(90deg);
    opacity: 0
  }
  to {
    transform: rotateY(270deg);
    opacity: 0
  }
}
